@{
    ViewBag.Title = ViewBag.photo;
}

<h2>@ViewBag.photo</h2>

<img src="~/Content/images/flowers/@(ViewBag.photo).jpg" alt="@(ViewBag.photo)" class="flowerPhoto" />
<p><a href="~/photos/">Flower Photos home</a></p>